@tailwind base;
@tailwind components;
@tailwind utilities;

.displayItem {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
  }

  /* jobInfo.css (or any suitable file name) */

.grid-container {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 2rem;
    padding-top: 2rem;
    border-radius: 24px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  
  .bg-neutral-content {
    border-radius: 24px;
    border-color: #1f2937;
    background-color: #f3f4f6; /* Adjust the color as needed */
    color: #1f2937; /* Adjust the text color as needed */
    padding: 1rem; /* Equivalent to p-5 in Tailwind */
    height: 16%; /* Equivalent to h-96 in Tailwind */
    overflow: auto;
  }

  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* 100% of the viewport height */
  }
  
  .text-neutral {
    color: #6b7280; /* Adjust the color as needed */
  }
  
  .col-span-2 {
    grid-column: span 2;
  }
  
  .col-span-3 {
    grid-column: span 3;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader-override {
    display: block;
    margin: auto;
  }
  
  .result-container {
    margin-top: 1rem;
  }
  
  .result-message {
    font-weight: bold;
  }
  
  .result-info {
    margin-top: 0.5rem;
  }
  
  .save-button {
    background-color: #3490dc; /* Adjust the color as needed */
    color: rgb(255, 255, 255);
    padding: 0.75rem 1.5rem; /* Equivalent to px-6 py-2 in Tailwind */
    margin-top: 1.5rem;
    border-radius: 25px; /* Equivalent to rounded-full in Tailwind */
    align-self: flex-end;
  }

.edit-button {
  background-color: hsl(206, 81%, 57%); /* Green background color */
  color: white; /* White text color */
  padding: 8px 16px; /* Padding */
  border: none; /* Remove border */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Add cursor on hover */
  margin-top: 12px;
  margin-right: 12px; /* Margin between buttons */
}

/* Style for the input fields when editing */
.edit-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Style for the input fields when editing */
.displayItem input {
  margin-bottom: 8px; /* Add space between input fields */
  padding: 8px; /* Add padding to input fields */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
.titleName {
  color: #333;
  font-weight: bold;
  background-color: transparent;

}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  font-weight: bold;
}

p {
  color: #555;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
  padding-left: 30px;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li:first-child {
  margin-top: 20px;
}

section {


  max-width: 95%;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #bbdffd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(225, 31, 31, 0.1);
  text-align: justify;
}

.text {
  margin-left: 5px; 
  font-style: italic;
}

.fixed-search-bar {
  position: fixed;
  text-align: justify;
  border-radius: 24px;
  top: 10%;
  left: 15%;
  width: 71%;
  background-color: #bbdffd;
  color :rgb(16, 16, 15);
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(4, 1, 1, 0.1); /* Optional: Add a box shadow for a subtle effect */
}

.input-search {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-sizing: border-box;
}

.company-name {
  font-weight: bold;
}

.jobItems{
  padding-right: 2px;
  
}
.border-black {
  border: 1px solid rgb(21, 62, 228); /* Adjust the border style as needed */
}

.assistant-container{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 38%;
  margin-left: 36%;
}
.assistant-container-text{
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10%;
  margin-left: 16%;
}