/* Base, Components, and Utilities from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for display item */
.displayItem {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

/* Grid container styling */
.grid-container {
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  gap: 2rem;
  padding-top: 2rem;
  border-radius: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Background styling for neutral content */
.bg-neutral-content {
  border-radius: 24px;
  border-color: #1f2937;
  background-color: #f3f4f6;
  color: #1f2937;
  padding: 1rem;
  height: 16%;
  overflow: auto;
}

/* Center container styling */
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

/* Text color for neutral content */
.text-neutral {
  color: #6b7280;
}

/* Grid column spans */
.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

/* Flex container styling */
.flex-container {
  display: flex;
  flex-direction: column;
}

/* Loader container styling */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader override styling */
.loader-override {
  display: block;
  margin: auto;
}

/* Result container styling */
.result-container {
  margin-top: 1rem;
}

/* Result message styling */
.result-message {
  font-weight: bold;
}

/* Result info styling */
.result-info {
  margin-top: 0.5rem;
}

/* Save button styling */
.save-button {
  background-color: #3490dc;
  color: rgb(255, 255, 255);
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 25px;
  align-self: flex-end;
}

/* Edit button styling */
.edit-button {
  background-color: hsl(206, 81%, 57%);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 12px;
}

/* Edit button hover styling */
.edit-button:hover {
  background-color: #45a049;
}

/* Input field styling for editing */
.displayItem input {
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* Header styling */
header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Title name styling */
.titleName {
  color: #333;
  font-weight: bold;
  background-color: transparent;
}

/* Heading 2 styling */
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  font-weight: bold;
}

/* Paragraph styling */
p {
  color: #555;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Ordered list styling */
ol {
  padding-left: 30px;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* List item styling */
li {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* First child of list item styling */
li:first-child {
  margin-top: 20px;
}

/* Section styling */
section {
  max-width: 95%;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #bbdffd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(225, 31, 31, 0.1);
  text-align: justify;
}

/* Text styling */
.text {
  margin-left: 5px;
  font-style: italic;
}

/* Fixed search bar styling */
.fixed-search-bar {
  position: fixed;
  text-align: justify;
  border-radius: 24px;
  top: 10%;
  left: 15%;
  width: 71%;
  background-color: #bbdffd;
  color: rgb(16, 16, 15);
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(4, 1, 1, 0.1);
}

/* Input search styling */
.input-search {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-sizing: border-box;
}

/* Company name styling */
.company-name {
  font-weight: bold;
}

/* Job items styling */
.jobItems {
  padding-right: 2px;
}

/* Border styling */
.border-black {
  border: 1px solid rgb(21, 62, 228);
}

/* Assistant container styling */
.assistant-container {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 38%;
  margin-left: 36%;
}

/* Assistant container text styling */
.assistant-container-text {
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10%;
  margin-left: 16%;
}
